html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 240, 240);
}

#addPage {
  width: 95%;
  margin: 40px auto;
  flex: 1 0 auto;
}

#topPart {
  width: 97%;
  margin: auto auto;
  height: 45px;
  font-size: 35px;
  font-weight: 700;
  font-family: Arial;
  display: flex;
}

#productAddHeader {
  width: 20%;
}

.topButton {
  font-size: 20px;
  font-weight: 900;
  margin: auto 0;
  border: solid rgb(0,0,0) 3px;
  padding: 0 10px;
  box-shadow: 4px 4px;
}

#saveButton {
  margin-left: auto;
  margin-right: 40px;
  order: 2;
}

#cancelButton {
  order: 3;
  margin-right: 20px;
}

#borderlineTop {
  height: 5px;
  margin-right: 10px;
  border-bottom: solid 2px rgb(0,0,0);
  border-left: solid 2px rgb(0,0,0);
  border-bottom-left-radius: 10px;
}

#borderlineBottom {
  height: 5px;
  margin-left: 10px;
  border-top: solid rgb(0,0,0) 2px;
  border-right: solid rgb(0,0,0) 2px;
  border-top-right-radius: 10px;
  top: -2px;
  position: relative;
  margin-bottom: 30px;
}

#inputPart {

}

th {
  width: 100px;
  text-align: left;
}

tr {
  height: 40px;
}

td > input {
  border: solid 3px black;
}

#typeSwitcherLabel {
  font-size: 16px;
  font-weight: bold;
  margin-right: 15px;
  margin-top: 25px;
}

#typeSwitcher {
  border: solid 3px black;
}

#bottomPart {
  flex-shrink: 0;
  text-align: center;
  font-size: 20px;
  padding: 30px 0px;
  width: 95%;
  margin: auto;
  padding-top: 30px;
  font-family: Georgia;
}

.description {
  position: absolute;
  border: solid 2px black;
  width: fit-content;
  padding: 10px;
  visibility: hidden;
}

#errorBox {
  position: absolute;
  top: 150px;
  right: 250px;
  border: solid 2px black;
  width: fit-content;
  padding: 10px;
  visibility: hidden;
}
