html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 240, 240);
}

.listPage {
  width: 95%;
  margin: 40px auto;
  flex: 1 0 auto;
}

#topPart {
  width: 97%;
  margin: auto auto;
  height: 45px;
  font-size: 35px;
  font-weight: 700;
  font-family: Arial;
  display: flex;
}

#productListHeader {
  width: 20%;
}

.topButton {
  font-size: 20px;
  font-weight: 900;
  margin: auto 0;
  border: solid rgb(0,0,0) 3px;
  padding: 0 10px;
  box-shadow: 4px 4px;
}

#addButton {
  margin-left: auto;
  margin-right: 40px;
  order: 2;
}

#deleteButton {
  order: 3;
  margin-right: 20px;
}

#borderlineTop {
  height: 5px;
  margin-right: 10px;
  border-bottom: solid 2px rgb(0,0,0);
  border-left: solid 2px rgb(0,0,0);
  border-bottom-left-radius: 10px;
}

#borderlineBottom {
  height: 5px;
  margin-left: 10px;
  border-top: solid rgb(0,0,0) 2px;
  border-right: solid rgb(0,0,0) 2px;
  border-top-right-radius: 10px;
  top: -2px;
  position: relative;
  margin-bottom: 30px;
}

#listPart {
  margin-top: -30px;
}

#bottomPart {
  flex-shrink: 0;
  text-align: center;
  font-size: 20px;
  padding: 30px 0px;
  width: 95%;
  margin: auto;
  padding-top: 30px;
  font-family: Georgia;
}

.item {
  height: 170px;
  width: 20%;
  margin: 30px 2.22%;
  border: solid 2px black;
  text-align: center;
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: monospace;
}

input[type=checkbox] {
  position: absolute;
  float: left;
  margin-right: 15%;
  margin-bottom: 110px;
	cursor: pointer;
}

input[type=checkbox]:before {
   content: "";
   display: block;
   position: absolute;
   width: 16px;
   height: 16px;
   top: 0;
   left: 0;
   border: 2px solid #555555;
   border-radius: 3px;
   background-color: white;
}

input[type=checkbox]:checked:after {
   content: "";
   display: block;
   width: 5px;
   height: 10px;
   border: solid black;
   border-width: 0 2px 2px 0;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
   position: absolute;
   top: 2px;
   left: 6px;
}
